// Dimensions
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

// Displays
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Margins
.mt-15 {
  margin-top: 15px;
}

.mr-5 {
  margin-right: 5px;
}