button {
  background: transparent;
}

.container-login {
  width: 100%;
  background: linear-gradient(#6a11cb, #2575fc);
}

.wrap-login {
  width: 560px;
  margin: 5px;
}

/* [ Form ] */
.login-form {
  width: 100%;
  background-color: transparent;
}

.login-form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #fefefe;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

/* [ Input ] */
.wrap-input {
  width: 49.7%;
  height: 75px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  background-color: #fff;
}

.wrap-input.rs1 {
  border-top-left-radius: 12px;
  border-right: none;
}

.wrap-input.rs2 {
  border-top-right-radius: 12px;
}

.label-input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 30px;
  left: 0;
  top: 28px;
  transition: all 0.4s;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: transparent;
  padding: 0 30px;
  outline: none;
  border: none;
  height: 100%;
  transition: all 0.4s;
}

.input:focus {
  height: 55px;
}

.input:focus + .label-input {
  top: 10px;
  font-size: 13px;
  color: #111111;
}

.has-val {
  height: 55px !important;
}

.has-val + .label-input {
  top: 10px;
  font-size: 13px;
  color: #111111;
}

/* [ Button ] */
.login-form-btn {
  outline: none !important;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  padding: 0 20px;
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  background: #111111;

  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(to right, #6a11cb, #2575fc);

  transition: all 0.4s;
}

.login-form-btn:hover {
  background-color: transparent;
}
.login-form-btn:hover:before {
  opacity: 1;
}

/* [ Responsive ]*/
@media (max-width: 576px) {
  .wrap-input {
    width: 100%;
  }

  .wrap-input.rs1 {
    border-top-right-radius: 12px;
    border-right: 1px solid #e0e0e0;
  }

  .wrap-input.rs2 {
    border-top-right-radius: 0px;
  }
}