<template>
  <div id="login">
    <div class="container-login w-100 h-100 d-flex justify-content-center align-items-center flex-wrap">
      <div class="wrap-login">
        <form
          ref="signupForm"
          class="login-form d-flex flex-wrap validate-form"
        >
          <span class="login-form-title">
            Signup
          </span>
          
          <div class="wrap-input d-flex align-items-end flex-wrap rs1">
            <input :class="[{'has-val': notEmptyUsername}, 'input']" type="text" v-model="signupForm.username" required>
            <span class="label-input">Username</span>
          </div>
          
          <div class="wrap-input d-flex align-items-end flex-wrap rs2">
            <input :class="[{'has-val': notEmptyPassword}, 'input']" type="password" v-model="signupForm.password" required>
            <span class="label-input">Password</span>
          </div>

          <div class="w-100 d-flex justify-content-center flex-wrap">
            <button class="login-form-btn d-flex justify-content-center align-items-center" @click.prevent="signupHandler">
              Sign up
            </button>
          </div>
          
          <div class="w-100 mt-15">
            <span class="text-black">
              Already registered?
            </span>
            <router-link to="/login" class="text-white decoration-none">
              Login
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Signup',
  data() {
    return {
      signupForm: {
        username: '',
        password: ''
      },
    };
  },
  computed: {
    notEmptyUsername: function() {
      return (this.signupForm.username !== '')
    },
    notEmptyPassword: function() {
      return (this.signupForm.password !== '')
    }
  },
  methods: {
    signupHandler() {
      if (this.$refs.signupForm.reportValidity()) {
        this.$store.dispatch('auth/signup', this.signupForm);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('~@/styles/form.scss');
#login {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>