<template>
  <div id="logo">
    <router-link to="/">
      <img src="@/assets/logo.png" alt="Logo" width="100" height="100">
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss" scoped>
#logo {
  width: 50px;
  height: 50px;
  padding: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}
</style>