<template>
  <div id="recipes">
    <pulse-loader v-if="loading" class="my-spinner" />
    <div v-else>
      <div v-if="recipes.length > 0">
        <h1>Recipes</h1>
        <div class="w-100 d-flex">
          <recipe
            v-for="recipe in recipes"
            :key="recipe.id"
            v-bind="recipe"
            @click.native="showRecipe(recipe.id)"
          />
        </div>
      </div>
      <div v-else>
        <h1>No recipes</h1>
      </div>
    </div>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import Recipe from '../Recipe';

export default {
  name: 'Recipes',
  components: {
    Recipe,
    PulseLoader
  },
  data() {
    return {
      loading: false,
      recipes: []
    };
  },
  created() {
    this.fetchRecipes();
  },
  methods: {
    showRecipe(id) {
      this.$router.push(`/recipe/${id}`);
    },
    fetchRecipes() {
      this.loading = true;
      this.$store.dispatch('recipes/fetchRecipes').then((data) => {
        this.recipes = data;
        this.loading = false;
      }).catch(err => {
        console.log(err);
        this.loading = false;
      });
    }
  }
}
</script>

<style lang="scss" scoped>
#recipes {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 800px;
  padding: 8px 16px;
  position: relative;
  .my-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>