<template>
  <unicon
    :name="name"
    :fill="unicornFill"
    class="cursor-pointer mr-5"
    @mouseenter.native="unicornFill = 'cyan'"
    @mouseleave.native="unicornFill = 'white'"
    @click="callback"
    style="margin: 0 7px"
  />
</template>

<script>
export default {
  name: 'Icon',
  props: {
    name: String,
    callback: Function
  },
  data() {
    return {
      unicornFill: 'white'
    };
  }
}
</script>
