<template>
  <div class="w-100 h-100">
    <navbar />
    <div class="w-100 h-75 d-flex justify-content-center align-items-center">
      <form ref="recipeForm" class="d-flex flex-column add-form">
        <h1>Add Recipe</h1>
        <table>
          <tbody>
            <tr>
              <td>
                <label for="name">Name</label>
              </td>
              <td>
                <input id="name" type="text" v-model="recipeForm.name" required>
              </td>
            </tr>
            <tr>
              <td>
                <label for="description">Description</label>
              </td>
              <td>
                <input id="description" type="text" v-model="recipeForm.description" required>
              </td>
            </tr>
            <tr>
              <strong>Ingredients</strong>
            </tr>
            <tr v-for="(ingredient, index) in recipeForm.ingredients" :key="index">
              <td>
                <input type="text" v-model="ingredient.name" class="mr-5" style="width: 50px" required>
                <input type="number" v-model="ingredient.qty" style="width: 50px">
              </td>
              <td>
                <m-button @click="deleteIngredient(index)" type="danger">Delete</m-button>
              </td>
            </tr>
            <tr>
              <m-button @click.prevent="addIngredient" type="success" plain>
                Add
              </m-button>
            </tr>
          </tbody>
        </table>
        <m-button class="mt-15" type="success" block @click.prevent="handleSubmit">Save</m-button>
      </form>
    </div>
  </div>
</template>

<script>
import MButton from 'vue-m-button';
import { toast } from '@/utils/toast';
import Navbar from '../../components/Navbar';

export default {
  components: {
    MButton,
    Navbar
  },
  data() {
    return {
      recipeForm: {
        name: '',
        description: '',
        ingredients: []
      }
    };
  },
  methods: {
    addIngredient() {
      this.recipeForm.ingredients.push({
        name: '',
        qty: 0
      });
    },
    deleteIngredient(index) {
      this.recipeForm.ingredients.splice(index, 1);
    },
    handleSubmit() {
      if (this.$refs.recipeForm.reportValidity()) {
        this.$store.dispatch('recipes/addRecipe', this.recipeForm).then(() => {
          toast('Recipe added successfully', 'success');
          this.$router.push('/home').catch(err => {
            console.log(err);
          })
        }).catch(err => {
          console.log(err);
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-form {
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  tr td input {
    padding: 5px 8px;
    font-size: 18px;
  }
}
</style>