<template>
  <div id="recipe-card" class="cursor-pointer">
    <img src="@/assets/logo.png" :alt="name">
    <div class="text-center">
      <div>{{ name }}</div>
      <div>{{ description }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Recipe',
  props: {
    name: String,
    description: String,
    image: String,
    ingredients: Array
  }
}
</script>

<style lang="scss" scoped>
#recipe-card {
  width: 200px;
  height: 200px;
  border: 1px solid $primary;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 5px;
  img {
    width: 100%;
    height: 70%;
  }
}
</style>