<template>
  <div class="text-center">
    <div><img src="@/assets/logo.png" :alt="recipe.image"></div>
    <div>
      <span v-if="!editing">Name: {{ recipe.name }}</span>
      <label v-if="editing">
        Name
        <input type="text" v-model="recipe.name">
      </label>
    </div>
    <div>
      <span v-if="!editing">Description: {{ recipe.description }}</span>
      <label v-if="editing">
        Description
        <input type="text" v-model="recipe.description">
      </label>
    </div>
    <div class="mt-15">
      Ingredients
      <br>
      <ul>
        <li
          v-for="(ingredient, index) in recipe.ingredients"
          :key="index"
        >
          <label>
            {{ ingredient.name }}
            <span v-if="!editing"></span>
            <input v-if="editing" type="number" :value="ingredient.qty">
          </label>
        </li>
      </ul>
    </div>
    <div v-if="!editing">
      <button @click="editing = true">Edit</button>
      <button @click="handleDelete">Delete</button>
    </div>
    <div v-else>
      <button @click="handleUpdate">Save</button>
      <button @click="editing = false">Cancel</button>
    </div>
  </div>
</template>

<script>
import { toast } from '@/utils/toast';

export default {
  data() {
    return {
      id: '',
      recipe: {},
      editing: false
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.getRecipe();
  },
  methods: {
    getRecipe() {
      this.$store.dispatch('recipes/getRecipe', this.id).then(data => {
        this.recipe = data;
      }).catch(err => {
        console.log(err);
      });
    },
    handleDelete() {
      this.$store.dispatch('recipes/deleteRecipe', this.id).then(() => {
        toast('Deleted successfully', 'success');
        this.$router.push('/home').catch(err => {
          console.log(err);
        });
      }).catch(err => {
        console.log(err);
        toast('Delete cancelled', 'error');
      });
    },
    handleUpdate() {
      const data = {
        id: this.id,
        recipe: this.recipe
      };
      this.$store.dispatch('recipes/updateRecipe', data).then(() => {
        toast('Edited successfully', 'success');
        this.$router.push('/home').catch(err => {
          console.log(err);
        });
      }).catch(err => {
        console.log(err);
        toast('Edit cancelled', 'error');
      });
    }
  }
}
</script>

<style>

</style>