<template>
  <header id="navbar">
    <nav class="d-flex justify-content-between align-items-center">
      <logo />
      <right-panel />
    </nav>
  </header>
</template>

<script>
import Logo from '../Logo';
import RightPanel from '../RightPanel';

export default {
  name: 'Navbar',
  components: {
    Logo,
    RightPanel
  }
}
</script>

<style lang="scss" scoped>
#navbar {
  width: 100%;
  height: 60px;
  background: $primary;
  nav {
    padding: 0 10px;
  }
}
</style>