<template>
  <div id="right-panel" class="d-flex justify-content-center align-items-center">
    <m-button type="success" @click="addRecipe">Add Recipe</m-button>
    <icon v-bind="{name: 'shopping-cart', callback: showCart}" title="Shopping Cart" />
    <icon v-bind="{name: 'signout', callback: logout}" title="Logout" />
  </div>
</template>

<script>
import Icon from '../Icon';
import MButton from 'vue-m-button';

export default {
  name: 'RightPanel',
  components: {
    Icon,
    MButton
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
    },
    addRecipe() {
      this.$router.push('/recipe/add').catch(err => {
        console.log(err);
      });
    },
    showCart() {
      this.$router.push('/cart').catch(err => {
        console.log(err);
      });
    }
  }
}
</script>

<style lang="scss" scoped>
#right-panel {
  padding: 5px;
}
</style>