<template>
  <div class="w-100 h-100 d-flex flex-column justify-content-between align-items-center">
    <navbar />
    <recipes />
  </div>
</template>

<script>
import Navbar from '../../components/Navbar';
import Recipes from '../Recipes';

export default {
  name: 'Home',
  components: {
    Navbar,
    Recipes
  }
}
</script>

<style>

</style>