<template>
  <div id="login" class="w-100 h-100">
    <div class="container-login w-100 h-100 d-flex justify-content-center align-items-center flex-wrap">
      <div class="wrap-login">
        <form ref="loginForm" class="login-form d-flex flex-wrap validate-form">
          <span class="login-form-title">
            Login
          </span>
          
          <div class="wrap-input d-flex align-items-end flex-wrap rs1">
            <input :class="[{'has-val': notEmptyUsername}, 'input']" type="text" v-model="loginForm.username" required>
            <span class="label-input">Username</span>
          </div>
          
          <div class="wrap-input d-flex align-items-end flex-wrap rs2">
            <input :class="[{'has-val': notEmptyPassword}, 'input']" type="password" v-model="loginForm.password" required>
            <span class="label-input">Password</span>
          </div>

          <div class="w-100 d-flex justify-content-center flex-wrap">
            <button class="login-form-btn d-flex justify-content-center align-items-center" @click.prevent="loginHandler">
              Sign in
            </button>
          </div>
          
          <div class="w-100 mt-15">
            <span class="text-black">
              Not registered yet?
            </span>
            <router-link to="/signup" class="text-white decoration-none">
              Signup
            </router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        username: '',
        password: ''
      },
    };
  },
  computed: {
    notEmptyUsername: function() {
      return (this.loginForm.username !== '')
    },
    notEmptyPassword: function() {
      return (this.loginForm.password !== '')
    }
  },
  methods: {
    loginHandler() {
      if (this.$refs.loginForm.reportValidity()) {
        this.$store.dispatch('auth/login', this.loginForm);
      }
    }
  }
}
</script>

<style src="../../styles/form.scss" lang="scss" scoped></style>