<template>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <pulse-loader v-if="loading" />
    <div class="w-100 h-100">
      <h1>Cart</h1>
    </div>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

export default {
  name: 'Cart',
  components: {
    PulseLoader
  },
  data() {
    return {
      cart: [],
      loading: false
    };
  },
  created() {
    this.fetchCart();
  },
  methods: {
    fetchCart() {
      this.loading = true;
      this.$store.dispatch('cart/fetchCart').then(data => {
        this.cart = data;
        this.loading = false;
      }).catch(err => {
        console.log(err);
        this.loading = false;
      })
    }
  }
}
</script>

<style>

</style>